<h1>Listing types</h1>

<table>
  <tr>
    <th>TypeId</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @types.each do |type| %>
      <tr>
        <td><%= type.typeID %></td>
        <td><%= type.name %></td>
      </tr>
  <% end %>
</table>
<br />
<%= link_to "Back", root_path %>